body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Merienda', cursive;
}

.choice {
    width: 100%;
}

header {
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    font-weight: bold;
    color: #68615B;
    text-decoration: none;
    border-bottom: 1px solid #68615B;
}

.multiple-choice {
    color: #68615B;
    font-size: 2rem;
}

.question {
    color: #68615B;
    font-size: 2rem;
    border-bottom: 1px solid #68615B;
}

.start {
    font-size: 2rem;
}

.results {
    color: #68615B;
    font-size: 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid #68615B;
}

.result-data {
    font-size: 1.5rem;
}

.result-data {
    color: #68615B;
}

.restart {
    font-size: 2rem;
}

.btn {
    border-radius: 1rem;
    background-color: teal;
    color: #FEF5E6;
    border: none;
}

.btn:hover {
    background-color: tomato;
}

.question-container {
    border-radius: 1rem;
    background-color: #FEF5E6;
    border: solid #68615B 1px;
}

.timer {
    color: #68615B;
    font-family: 'Tangerine', cursive;
    font-size: 4rem;;
    font-weight: bold;
}